/problema1/JavaApplication91/nbproject/private/
/problema1/Estudiante/nbproject/private/
/problema1/Estudiante/build/
/problema2/JavaApplication93/nbproject/private/
/problema2/Profesor/nbproject/private/
/problema2/Profesor/build/
/problema3/Auto/nbproject/private/
/problema3/Auto/build/
/problema4/Cheque/nbproject/private/
/problema4/Cheque/build/
